

<label >Usuario</label><br>
{{input type="text" name="" placeholder="usuario" value=usuario}}
<br>

<label>Pass</label><br>
{{input type="password" name="" placeholder="pass" value=pass}}
<br>
<button {{action 'login' usuario pass}}
>Acceder</button>
<br>

